/* Reset Css */
@import url("./resetX.css");
/* Reset Css */

/* Font Import */
@font-face {
    font-family: Mulish;
    src: url('./../fonts/Mulish-Black.ttf');
    src: url('./../fonts/Mulish-Bold.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('./../fonts/Poppins-Regular.ttf');
}

/* Font Import */

/* Common Css */
body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333 !important;
    transition: all 0.2s linear !important;
    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mulish, sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    color: #fff !important;
}

a:hover {
    color: #72b626;
}

::-moz-selection {
    color: #fff;
    background-color: #72b626;
    /* background-color: #FA5B0F; */
}

::selection {
    color: #fff;
    background-color: #72b626;
    /* background-color: #FA5B0F; */
}

::-moz-selection {
    color: #fff;
    background-color: #72b626;
}


/* Common Css */

/* Scrollbar */
html {
    --scrollbarBG: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    --thumbBG: #0000008e;
}

body::-webkit-scrollbar {
    width: 11px !important;
}


body {
    scrollbar-width: thin !important;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG) !important;

}


body::-webkit-scrollbar-track {
    background: var(--scrollbarBG) !important;

}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) !important;
    border-radius: 6px !important;
    border: 3px solid var(--scrollbarBG) !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

/* Light Dark Mode */
body.dark {
    background-color: #292c35 !important;
}

body.dark {
    color: #fff !important;
}

.skin {
    font-size: 16px;
}

.checkboxes{
    margin: 0 5px;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111 !important;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff !important;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* ScrolltoTop */
#topcontrol {
    bottom: 15px !important;
    right: 40px !important;
}

/* aos */
.aos-all {
    width: 1000px;
    max-width: 98%;
    margin: 10vh auto 0 auto;
  }
  
  .aos-item {
    display: inline-block;
    width: 33.3333%;
    height: 300px;
    padding: 20px;
  }
  
  .aos-item__inner {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background: #1da4e2;
    line-height: 260px;
    text-align: center;
    color: #fff;
  }
  
  @media screen and (max-width: 800px) {
    .aos-item {
      width: 50%;
    }
  }